@import "async-img";
@import "../plugins/spectre-0.5.8/src/variables";
@import "fonts";

$xl: 1280px;
$lg: 960px;
$md: 840px;
$sm: 600px;
$xs: 480px;

$under-xl: "(max-width: #{$xl})";
$under-lg: "(max-width: #{$lg})";
$under-md: "(max-width: #{$md})";
$under-sm: "(max-width: #{$sm})";
$under-xs: "(max-width: #{$xs})";

$animation-duration: .6s;

@mixin transition($props...) {
    transition-property: $props;
    transition-duration: $animation-duration;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    overflow-x: hidden;

    @media #{$under-sm} {
        font-size: 12px;
    }
}

.step.bottom {
    .step-item {
        &:not(:first-child)::before {
            top: 29px;
        }

        a {
            padding: 0 10px 20px;

            &::before {
                top: 1.5em;
            }
        }
    }
}

.main-nav {
    background: $light-color;
    .step {
        margin: 0;
    }

    ul.tab-block {
        margin: 0;
        padding: .2rem 0 0;
        border-bottom: .05rem solid #d4dad8;
        border-top: .05rem solid #d4dad8;
    }

    &.bottom {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -44px;

        ul.tab-block {
            border-bottom: none;
        }
    }
}

.mobile-bottom-menu-spacer {
    width: 100%;
    height: 44px;
}

main {
    min-height: 80vh;
    padding: .4rem 0;
}

aside {
    padding-left: 0 !important;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    overflow: visible;

    .main-nav {
        height: 100%;
        padding: .2rem;

        .menu {
            height: 100%;
        }
    }
}

section {

    min-height: 100vh;

    @media #{$under-xl} {
        min-height: auto;
    }
}

.menu .menu-item>a {
    @include transition(color, background);
}


.tile-text {
    font-size: .9em;
}

.timeline {
    .tile-subtitle {
        text-transform: capitalize;
    }
}

.reveal-left {
    animation-name: reveal-left;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.reveal-right {
    animation-name: reveal-right;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


@keyframes reveal-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes reveal-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
