@import "utils";
@import "async-img";
@import "wheel-slider";
@import "../plugins/spectre-0.5.8/src/variables";
@import "fonts";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    overflow-x: hidden;

    @media #{$under-sm} {
        font-size: 12px;
    }
}

.step.bottom {
    .step-item {
        &:not(:first-child)::before {
            top: 29px;
        }

        a {
            padding: 0 10px 20px;

            &::before {
                top: 1.5em;
            }
        }
    }
}

.main-nav {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px -5px black;
    background: $light-color;
    .step {
        margin: 0;
    }

    ul.tab-block {
        margin: 0;
        padding: .2rem 0 0;
        border: none;
    }

    &.bottom {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -44px;

        ul.tab-block {
        }
    }
}

.mobile-bottom-menu-spacer {
    width: 100%;
    height: 44px;
}

main {
    min-height: 80vh;
    padding: 0;
}

aside {
    padding-left: 0 !important;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    overflow: visible;

    .main-nav {
        height: 100%;
        padding: 0;

        .menu {
            transform: none;
            height: 100%;
        }
    }
}

section {

    min-height: 100vh;

    @media #{$under-xl} {
        min-height: auto;
    }


    position: relative;
    overflow: hidden;

}

.menu .menu-item>a {
    @include transition(color, background);
}


.tile-text {
    font-size: .9em;
}

.timeline {
    .tile-subtitle {
        text-transform: capitalize;
    }
}

.reveal-left {
    animation-name: reveal-left;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.reveal-right {
    animation-name: reveal-right;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


@keyframes reveal-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes reveal-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.first-scroll {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    svg {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        z-index: 1;

        &:first-child {
            top: 0;
            fill: $primary-color;
        }

        &:last-child {
            bottom: 0;
            fill: $error-color
        }
    }
    .catch-you {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
        z-index: 0;

        .wheel {
            .wheel-slider {
                text-align: left;
                color: $primary-color;
            }
        }

        @media #{$under-md} {
            font-size: 1.7em;
        }

        @media #{$under-sm} {
            .wheel {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }

            label {
                display: inline-block;
                font-size: 1.4em;
                line-height: 2.5em;
                white-space: nowrap;
                text-orientation: mixed;
                writing-mode: vertical-lr;
                transform: rotate(-180deg);
            }

            .wheel-slider {

            }
        }

        @media #{$under-sm} {
            label {
                font-size: 1.2em;
            }
        }
    }
}


.padding {
    padding: 15px;
}
