@import "utils";
@import "../plugins/spectre-0.5.8/src/variables";
@import "fonts";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 500;

    @media #{$under-sm} {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-weight: bold;
}

.elevation {
    text-shadow: .1ch .1em 0 rgba($dark-color, 0.2);
}

h2 {
    margin-bottom: 1.5em;
}

.underline {
    display: inline;
    background: linear-gradient(to top,transparent 5%, rgba($error-color, .1) 5%,rgba($error-color, .1) 37%,transparent 37%);
}

h1 > .underline {
    background: linear-gradient(to top,transparent 5%, rgba(yellow, .3) 5%,rgba(yellow, .3) 37%,transparent 37%);
}

h2 > .underline {
    background: linear-gradient(to top,transparent 5%, rgba($error-color, .1) 5%,rgba($error-color, .1) 37%,transparent 37%);
}

strong {
    color: $primary-color;
}

a {
    @include transition(color);
}

.step.bottom {
    .step-item {
        &:not(:first-child)::before {
            top: 29px;
        }

        a {
            padding: 0 10px 20px;

            &::before {
                top: 1.5em;
            }
        }
    }
}


.english-flag-background {
    background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%), linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%), linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%), linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
}
.italian-flag-background {
    background: linear-gradient(90deg, #009344 0%, #009344 33%, #ffffff 33%, #ffffff 67%, #ce2b37 67%, #ce2b37 100%);
}


.main-nav {
    .links-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    font-weight: bold;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px -5px black;
    background: $light-color;
    a:focus {
        box-shadow: none;
    }
    .step {
        margin: 0;
    }
    .tooltip::after {
        font-weight: normal;
    }

    ul.tab-block {
        margin: 0;
        padding: 0;
        border: none;
        .tab-item {
            margin: 0;
        }
        .tab-item a {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    .change-locale-wrapper {
        position: relative;
        display: inline-block;
        padding: 0 .4rem;
        border-radius: 100vw;

        .change-locale-placeholder {
            visibility: hidden;
        }

        .change-locale {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background: #f6f6f6;
            border-radius: 100vw;
        }
    }


    &:not(.bottom) {
        a.tooltip {
            &::after {
                bottom: auto;
                top: 100%;
                transform: translate(-50%, -$unit-2);
            }
            &:focus,
            &:hover {
                &::after {
                    transform: translate(-50%, $unit-1);
                }
            }
        }
    }

    &.bottom {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -44px;

        ul.tab-block {
        }
    }
}

.mobile-bottom-menu-spacer {
    width: 100%;
    height: 44px;
}

main {
    position: relative;
    z-index: 0;
    min-height: 80vh;
    padding: 0;
}

section {
    position: relative;
    overflow: hidden;

}

.menu .menu-item>a {
    @include transition(color, background);
}


.tile-text {
    font-size: .9em;
}

.timeline {
    .tile-subtitle {
        text-transform: capitalize;
    }
}

.reveal-left {
    animation-name: reveal-left;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.reveal-right {
    animation-name: reveal-right;
    animation-duration: $animation-duration;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


@keyframes reveal-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes reveal-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

section {
    position: relative;
    svg {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        z-index: 1;

        &:first-child {
            top: 0;
            fill: $primary-color;
        }

        &:last-child {
            bottom: 0;
            fill: $error-color
        }
    }
    &:nth-child(2n + 1) {
        svg {
            &:first-child {
                fill: $error-color
            }

            &:last-child {
                fill: $primary-color;
            }
        }
    }

    &:first-child {
        svg {
            &:first-child {
                fill: $primary-color;
            }

            &:last-child {
                fill: $error-color
            }
        }
    }
}

.first-scroll {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 7vw 2vw;

    .catch-you {
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-size: 3vw;
        font-weight: bold;
        z-index: 0;
        font-family: 'Spartan', sans-serif;

        @media #{$under-xl} {
            font-size: 2em;
        }

        .fixed-text-wrapper {
            margin-bottom: 1em;
            text-transform: lowercase;
        }

        .wheel {
            padding-top: .5em;
            padding-bottom: .5em;
            text-align: center;
            h1 {
                display: inline-block;
                font: inherit;
                margin: 0;
            }
            .wheel-slider {
                text-align: left;
                color: $primary-color;
            }
        }

        @media #{$under-md} {
            font-size: 1.7em;
        }

        @media #{$under-sm} {
            font-size: 1.5em;
            .fixed-text-wrapper {
                display: inline-block;
                font-size: inherit;
                line-height: 2.5em;
                white-space: nowrap;
                h1, label {
                    font-size: inherit;
                    line-height: inherit;
                }
            }

            .wheel-slider {

            }
        }

        @media #{$under-sm} {
            label {
                font-size: 1.2em;
            }
        }
    }
}


.padding {
    padding: 1.8rem .8rem;
}


footer {
    font-weight: 400;
    font-size: .8em;
    background: $dark-color;
    color: white;
    padding: 1em .4rem;
    text-align: center;
}

p {
    font-weight: 500;
}


.btn.btn-lg {
    font-size: 1.1rem;
    height: 2.4rem;
}


.form-input {
    background: white;
}

.form-switch {
    font-weight: 400;
}

label[for] {

}

.timeline.pulse {
    .timeline-item {
        .timeline-icon {
            animation-name: pulse;
            animation-duration: .8s;
            animation-timing-function: ease;
        }
        $delay: .1s;
        &:nth-child(1) .timeline-icon {
            animation-delay: 0 * $delay;
        }
        &:nth-child(2) .timeline-icon {
            animation-delay: 1 * $delay;
        }
        &:nth-child(3) .timeline-icon {
            animation-delay: 2 * $delay;
        }
        &:nth-child(4) .timeline-icon {
            animation-delay: 3 * $delay;
        }
        &:nth-child(5) .timeline-icon {
            animation-delay: 4 * $delay;
        }
        &:nth-child(6) .timeline-icon {
            animation-delay: 5 * $delay;
        }
        &:nth-child(7) .timeline-icon {
            animation-delay: 6 * $delay;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    67% {
        transform: scale(.93);
    }
    100% {
        transform: scale(1);
    }
}

.timeline {
    .timeline-icon {
        > i {
            font-size: .7rem;
        }
    }
    .tile-title {
        .underline {
            font-size: 1rem;
            background: linear-gradient(to top, transparent 5%, rgba($primary-color-light, .2) 5%, rgba($primary-color-light, .2) 40%, transparent 40%);
        }
    }
    .tile-subtitle {
        font-weight: 400;
        text-transform: lowercase;
        font-variant: small-caps;
    }
}

.form-contact {
    .form-label {
        text-align: right;
        padding-right: 1ch;
        @media #{$under-sm} {
            text-align: left;
        }
    }
    .form-switch {
        padding-right: 0;
    }
}

.vertical-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.fill-height {
    min-height: 100vh;
    &:not(.first-scroll) {
        @media #{$under-sm} {
            min-height: 70vh;

            @media (min-height: 700px) {
                min-height: 50vh;
            }
        }

    }
}

.background {
    background: linear-gradient(165deg, transparent 0%, rgba(64, 155, 213, 0.2) 0%, rgba(64, 155, 213, 0.2) 9%, transparent 9%),
        linear-gradient(234deg, transparent 0%, rgba(221, 5, 55, 0.1) 0%, rgba(221, 5, 55, 0.1) 11%, transparent 11%),
        linear-gradient(191deg, transparent 26%, rgba(221, 5, 55, 0.1) 26%, rgba(221, 5, 55, 0.1) 29%, transparent 29%),
        linear-gradient(-22.25deg, transparent 65%, rgba(64, 155, 213, 0.2) 65%, rgba(64, 155, 213, 0.2) 74%, transparent 74%),
        linear-gradient(5deg, transparent 49%, rgba(221, 5, 55, 0.1) 49%, rgba(221, 5, 55, 0.1) 60%, transparent 60%),
        linear-gradient(15deg, transparent 34%, rgba(64, 155, 213, 0.2) 34%, rgba(64, 155, 213, 0.2) 41%, transparent 41%),
        linear-gradient(-8deg, transparent 29%, rgba(221, 5, 55, 0.1) 29%, rgba(221, 5, 55, 0.1) 32%, transparent 32%),
        linear-gradient(6.75deg, transparent 0%, rgba(64, 155, 213, 0.2) 0%, rgba(64, 155, 213, 0.2) 12%, transparent 12%), linear-gradient(-72deg, transparent 0%, rgba(221, 5, 55, 0.1) 0%, rgba(221, 5, 55, 0.1) 19.75%, transparent 19.75%);
}

.background-small {
    background: linear-gradient(5deg, transparent 10%, rgba(221, 5, 55, 0.1) 10%, rgba(221, 5, 55, 0.1) 20%, transparent 20%),
    linear-gradient(-15deg, transparent 64%, rgba(64, 155, 213, 0.2) 64%, rgba(64, 155, 213, 0.2) 74%, transparent 74%);
}

.opacity-on-scroll {
    opacity: 1;
    @include transition(opacity);
    &.outside-visible-area {
        opacity: .5;
    }
}


@import "async-img";
@import "wheel-slider";
@import "expandable";
