.async-img-container {
    display: block;
    position: relative;
    > .async-img {
        width: 100%;
        padding-bottom: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &.-round {
            border-radius: 10000px;
        }

        animation-duration: .5s;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }
    > i {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &.-loading {
        > i {
            display: block;
        }
        > i.icon-cross {
            display: none;
        }
        > .async-img {
            filter: blur(10px);
        }
    }
    &.-loaded {
        > i {
            display: none;
        }
        > .async-img {
            animation-direction: reverse;
            animation-name: blur;
        }
    }
    &.-error {
        > i {
            display: none;
        }
        > i.icon-cross {
            display: block;
        }
    }
}

@keyframes blur {
    from {
        transform: scale(1);
        filter: blur(0);
    }
    to {
        transform: scale(.97);
        filter: blur(3px);
    }

}
