@import "utils";

.wheel-slider {
    display: inline-block;
    position: relative;

    .wheel-initial-width-placeholder {
        visibility: hidden;
    }

    .values-wrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: translateY(-33.3333333%);
        width: 100%;
        .value {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 33.333333%;
            @include transition(opacity, top, left);
            &.current {
                top: 33.33333%;
                opacity: 1;
            }
            &.previous, &.next {
                opacity: .2;
            }
            &.previous {
                top: 0;
            }
            &.next {
                top: 66.6666667%;
            }
            &.current, &.previous, &.next {
                left: 0;
            }
        }
    }
    .value {
        display: block;
        white-space: nowrap;
    }


}
