:root {
	--color: rgb(31 41 55);

	color: var(--color);
	@apply bg-gray-200;
}

body {
	position: relative;
	background-color: inherit;
}

[style*='background-image'] {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
